@import "tailwindcss";

@layer base {
  img {
    max-width: 100%;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }
}
